@import '../../styles/shared.scss';

// Page Header
.pageHeader {
  display: flex;
  justify-content: center;
  // box-shadow: $headerShadow;

  .containerHeader {
    width: 100%;
    max-width: 880px;

    h1 {
      color: #e0e0e0;
      margin-bottom: 20px;
      font-size: 24px;
    }

    .NavList {
      display: flex;

      & a:first-child {
        margin-right: 4px;
      }

      .NavLink {
        display: block;
        padding: 10px 20px;
        font-size: 20px;
        color: white;
        background-color: $navLink;
        border-radius: 4px;

        &:hover {
          background-color: $navLink__hover;
        }
      }
    }

    .NavLink__active {
      color: white;
      background-color: $navLink__hover;
    }
  }
}
