$primaryBg: #2c3139;
$secondatyBg: #353a44;
$darkBg: #212225;
$accentBg: #9697b6;
$todoBg: #f0f3f7;

// Movies
$navLink: rgb(93, 107, 153);
$navLink__hover: palevioletred;
$formBtn: rgb(93, 107, 153);
$formBtn__hover: palevioletred;
