$primaryBg: #252729;
$secondatyBg: #353a44;
$darkBg: #212225;
$accentBg: #9697b6;
$todoBg: #f0f3f7;
$primaryYellow: #ffe13a;

// Movies
$navLink: rgb(93, 107, 153);
$navLink__hover: palevioletred;
$formBtn: rgb(93, 107, 153);
$formBtn__hover: palevioletred;

// Phonebook
$secondaryBg: #5064a3;
