// Viewport (Not to change) -------- *
$mobile: 375px;
$mobilePlus: 414px;
$tablet: 768px;
$desktop: 900px;
$desktopBig: 1200px;

$mobileMax: 374px;
$mobilePlusMax: 413px;
$tabletMax: 767px;
$desktopMax: 899px;
$desktopBigMax: 1200px; // ---------- *
