// Colors
$primaryColor: #9697b6;
$linkColor: #6ecab6;
$todoColor: rgb(52, 51, 141);
$primaryWhiteColor: #ffffff;
$secondaryWhiteColor: #ffffff96;
$trinityWhiteColor: #ffffff52;
$textWhiteColor: #e0e0e0;

// Movies
$formInput: rgb(150, 158, 184);
$formInput__focus: rgba(119, 133, 196, 0.788);
$link: rgb(93, 107, 153);
$link__hover: palevioletred;

// Phonebook
$secondaryColor: #5064a3;
$personColor: #546086;
