$todoShadov: rgba(99, 99, 99, 0.5) 0px 2px 5px -1px;
$itemShadov: rgba(99, 99, 99, 0.5) 0px 2px 5px -1px;
$modalShadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
