$todoShadow: rgba(99, 99, 99, 0.5) 0px 2px 5px -1px;
$itemShadow: rgba(99, 99, 99, 0.5) 0px 2px 5px -1px;
$modalShadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

// Movies
$headerShadow: rgba(99, 99, 99, 0.4) 0px 4px 6px -1px;

// Phonebook
$muiBtnFocusShadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
