@import 'styles/shared.scss';

// Book List
.bookList {
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      width: calc(50% - 10px);

      &:not(:nth-child(2n)) {
        margin-right: 20px;
      }
    }

    @media screen and (min-width: 900px) {
      width: calc(33% - 18px);

      &:not(:nth-child(3n)) {
        margin-right: 20px;
      }
    }

    .thumb {
      margin-bottom: 20px;

      @media screen and (min-width: 768px) {
        height: 220px;
      }

      @media screen and (min-width: 900px) {
        height: 170px;
      }

      @media screen and (min-width: 1040px) {
        height: 190px;
      }

      @media screen and (min-width: 1150px) {
        height: 220px;
      }

      @media screen and (min-width: 1300px) {
        height: 250px;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    // Meta
    h3 {
      color: white;
      margin-bottom: 10px;
    }
  }
}

// Toastify
.toast {
  @media screen and (max-width: 479px) {
    padding: 5px;
  }

  @media screen and (min-width: 480px) {
    width: 300px;
  }
}

// Book Details
.BookDetails {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  .thumb {
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      width: 50%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  // Meta
  .meta {
    @media screen and (min-width: 768px) {
      padding-left: 30px;
      width: 50%;
    }

    h2 {
      margin-bottom: 10px;
    }

    .genre {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 600;
      color: $linkColor;
    }

    p {
      line-height: 1.5;
    }
  }
}
