@import '../styles/colors';

// Views
.AdminView {
  padding-top: 100px;
}

// h1
.viewTitle {
  margin-bottom: 45px;
}

// Login View
.LoginView {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  min-height: 420px;

  .LoginViewContentWrap {
    max-width: 350px;
    text-align: center;
  }
}

// Admin View
.AdminViewContentWrap {
  position: relative;
  padding-top: 7px;
  min-width: 270px;
  max-width: 400px;

  .AdminViewCreateBtn {
    position: absolute;
    right: 0;
    top: 0;

    .AdminViewCreateBtnIcon {
      width: 40px;
      height: 40px;
      fill: $linkColor;

      &:hover {
        fill: $primaryWhiteColor;
      }
    }

    .AdminViewCancelBtnIcon {
      width: 40px;
      height: 40px;
      fill: $linkHover;

      &:hover {
        fill: $primaryWhiteColor;
      }
    }
  }
}
