@import 'styles/shared.scss';

// Section
.section {
  padding: 0 0 30px 0;
  color: #e0e0e0;

  // *
  .goBackBtn,
  .breadcrumbs > button {
    font-size: 20px;
    color: $linkColor;
    cursor: pointer;
  }

  // Go Back Button
  .goBackBtn {
    padding: 0;
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
  }

  & > h1 {
    margin-bottom: 20px;
  }

  // Todos Container
  .container {
    margin: 0 auto;

    .Loading {
      font-weight: 200;
      color: rgb(154, 149, 201);
      letter-spacing: 1.3px;
    }
  }

  // Any Links
  a {
    color: $linkColor;
  }
}

// Use List
.useList {
  padding: 30px 0;
  border-top: 1px solid #666;
  color: $primaryColor;

  li {
    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &.strong {
      padding-top: 20px;
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 18px;
      color: #fff;
    }
  }
}

.toast {
  @media screen and (max-width: 479px) {
    padding: 5px;
  }

  @media screen and (min-width: 480px) {
    width: 300px;
  }
}
