// Reused Modal
@import 'styles/shared.scss';

.Modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.Modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  box-shadow: $modalShadow;
}

.ModaClose__btn-wrap {
  position: absolute;
  top: -45px;
  right: -15px;

  // & .MuiIconButton-root {
  // padding: 5px;
  // background-color: red;

  // & .MuiIconButton-label {
  //   background-color: green;

  & .MuiSvgIcon-root {
    fill: red;
  }
}
