.autorListWrap {
  .Autorlist {
    margin-bottom: 30px;

    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  .autorBooksWrap {
    h3 {
      margin-bottom: 20px;
    }

    p {
      line-height: 1.6;
      color: tomato;
    }
  }
}

.toast {
  @media screen and (max-width: 479px) {
    padding: 5px;
  }

  @media screen and (min-width: 480px) {
    width: 300px;
  }
}
