@import '../styles/shared.scss';

.SearchList {
  display: flex;
  flex-wrap: wrap;

  li {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) and (max-width: 899px) {
      width: calc(50% - 15px);

      &:not(:nth-child(2n)) {
        margin-right: 30px;
      }
    }

    @media screen and (min-width: 900px) {
      width: calc(25% - 15px);

      &:not(:nth-child(4n)) {
        margin-right: 20px;
      }
    }

    a {
      font-size: 20px;
      color: $linkColor;

      .thumb {
        margin-bottom: 15px;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .meta {
        color: $textWhiteColor;

        h3 {
          font-size: 22px;
          margin-bottom: 5px;
        }

        span {
          font-size: 16px;
          color: $primaryColor;
        }
      }
    }

    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // li > a {
  //   font-size: 20px;
  //   color: $linkColor;
  // }

  // li:not(:last-child) {
  //   margin-bottom: 10px;
  // }
}
