@import 'styles/shared.scss';

// Stats
.Stats {
  margin-bottom: 20px;

  p:not(:last-child) {
    margin-bottom: 10px;
  }
}

// Button Open Modal
.MuiButton-root {
  &.ModaOpen__btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      width: calc(50% - 5px);
    }

    @media screen and (min-width: 768px) {
      width: calc(33% - 5px);
    }
  }
}

.TodoEditor {
  width: calc(100vw - 80px);
  min-width: 200px;

  @media screen and (min-width: 450px) {
    width: 350px;
  }

  .TodoEditor__textarea-label {
    // TextField
    .TodoEditor__textarea {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  // Button (Submit)
  .TodoEditor__btn {
    padding: 10px;
    width: 100%;
  }
}

.TodoList {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.TodoList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: $todoBg;
  box-shadow: $todoShadov;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: calc(50% - 5px);

    @media screen and (max-width: 899px) {
      &:not(:nth-child(2n)) {
        margin-right: 10px;
      }
    }
  }

  @media screen and (min-width: 900px) {
    width: calc(33% - 5px);
    &:not(:nth-child(3n)) {
      margin-right: 10px;
    }
  }

  // .PrivateSwitchBase-root-1 {
  //   padding: 12px;
  //   margin-right: 10px;
  // }

  .TodoList__text {
    color: $todoColor;
    margin-right: 30px;
    width: 100%;
  }
}
